@import "~bulma/sass/utilities/initial-variables"

// Config vars
$bent-orange: #ff7e2a
$bent-orange-invert: #fff
$bent-complementary: #1f9ad7

$primary: $bent-orange
$primary-invert: $bent-orange-invert

$landing-gradient-from: rgba(#1B0F06, 0.95)
$landing-gradient-to: rgba(#160900, 0.7)

$qualities-gradient-from: rgba(#000D0B, 0.95)
$qualities-gradient-to: rgba(#0D1D18, 0.92)

// TODO: This should be calculated and not hard-coded
$navbar-height: 6rem
$small-mobile: 450px

@import "~bulma"

@mixin side-margins($size)
  margin-left: $size
  margin-right: $size

@mixin small-mobile
  @media screen and (max-width: $small-mobile)
    @content

// Animations
@keyframes bounce 
  from
    transform: translateY(-10px) 
  to
    transform: translateY(10px) 

// Mixins
@mixin is-transparent
  background-color: transparent
  background-image: none

// React player
.video-player-wrapper
  position: relative
  padding-top: 56.25%
  @include mobile
    @include side-margins(-1.5rem)
  @include tablet-only
    @include side-margins(-0.5rem)
    margin-bottom: -1rem

.video-player
  position: absolute
  top: 0
  left: 0

html
  overflow: auto
  @include small-mobile
    font-size: 11px

.has-icon-centered
  display: block
  margin: auto

.navbar
  &.is-transparent
    @include is-transparent
  &.container
    height: $navbar-height

.navbar-brand
  .navbar-item
    margin-left: 1rem
    margin-top: 1rem

.navbar-end
  .navbar-item
    padding: 0.5em 0.75em

.navbar-item
  text-transform: uppercase
  letter-spacing: 0.12em
  &:hover
    color: $bent-complementary !important
  &.dropdown
    .dropdown-menu
      min-width: 4em
      margin-top: -1.5em
    .button, .dropdown-content
      @include is-transparent
      color: inherit
      border: none
      font-size: inherit
    .dropdown-item
      cursor: pointer
      &:hover
        color: #fff !important

.landing
  &.background-image
    height: 100vh
    width: 100%
    position: absolute
    top: 0
    left: 0
    z-index: -10
    // TODO: Fill the background options for other browsers (doesn't work in edge)
    background: linear-gradient($landing-gradient-from, $landing-gradient-to), url('../img/background.jpg')
    background-size: cover
    background-attachment: fixed
  &.hero.is-fullheight
    margin-top: -$navbar-height
    text-align: center
  .down-arrow
    position: absolute
    top: calc(100% - 3rem)
    left: calc(50% - 0.75rem)
    font-size: 1.5rem
    color: #fff
    opacity: 0.8
    animation: bounce 1.5s ease-in-out
    animation-direction: alternate
    animation-iteration-count: infinite
    cursor: pointer

.engagement
  .lead
    color: $bent-complementary

.miniportfolio
  padding-top: 0
  .centered-button
    padding-top: 2rem
    display: flex
    .button
      color: #fff
      background-color: $bent-orange
      margin: auto

.qualities-background
  background: linear-gradient($qualities-gradient-from, $qualities-gradient-to), url('../img/skyscrapers-1920.jpg')
  background-size: cover

.qualities 
  .is-inverted
    @include is-transparent